* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

h2, button {
    font-family: 'Inter', sans-serif;
}

h2 {
    margin-bottom: 10px;
}

p, div {
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
}

.main {
    width: 80%;
    height: 100vh;
    background-color:  #1E1E1E;
    padding: 50px;
}

.test-buttons {
    width: 20%;
    height: 100vh;
    background-color: #130F1E;
    padding: 50px 25px;
}

.description {
    margin-bottom: 40px;
}


/* Tabela de botões*/
.grid-buttons {
    width: 100%;
    height: 550px;
    border: 5px solid #1C162C;
    border-radius: 10px;
    background-color: #1C162C;
    display: grid;
    grid-template-columns: 1fr repeat(3, 2.5fr) 1fr;
    grid-template-rows: 10% repeat(6, auto);
}

.grid-buttons .box {
    font-size: 13px;
    background-color: #1C162C;
    display: grid;
    place-content: center;
    
}

.grid-buttons .box-dark {
    background-color: #0B0911;
}