
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%; /* 1rem == 10px */
}

body {
    font-size: 1.6rem;
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    font-weight: 700;
}

main {
    height: 100vh;
    background: url(./assets/Background.jpg) no-repeat center/cover;
    display: grid;
    grid-template-columns: 48rem 27.7rem 27.7rem;
    grid-template-rows: 24.4rem 21.2rem;
    grid-template-areas: 
    "temperature-now air-quality sun-time"
    "temperature-now week-weather week-weather";
    gap: 2.4rem;
    place-content: center;
}

section {
    backdrop-filter: blur(10px);
    border-radius: 10px;
    background-color: #6D67D0;
}

.temperature-now {
    grid-area: temperature-now;
    width: 48rem;
    height: 48rem;
    background: url(./assets/bg-temperature-now.jpg) no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem;
    position: relative;
}

.temperature-now::before {
    content: '';
    width: 17.6rem;
    height: 17.6rem;
    background: url(./assets/weather.svg) no-repeat;
    position: absolute;
    top: -5.6rem;
    left: -5.6rem;
}

.location {
    color: #C2BFF4;
    align-self: flex-end;
    margin-top: 3.2rem;
    margin-right: 3.2rem;
}
.location p::before {
    content: '';
    background: url(./assets/icons/location.svg) no-repeat;
    width: 1.2rem;
    height: 1.4rem;
    display: inline-block;
    margin-right: .4rem;
}

.temperature {
    text-align: center;
    font-size: 2rem;
    position: absolute;
    top: 11.2rem;
}
.temperature p:first-child {
    font-size: 8.8rem;
}
.temperature p:last-child span:last-child {
    color: #C2BFF4;
    margin-left: .4rem;
}

.statistics {
    display: flex;
    width: 100%;
    gap: .8rem;
}
.statistics .statistics-box {
    width: 100%;
    padding: 1.2rem 1.6rem;
    background: rgba(102, 96, 200, 0.6);
    border-radius: 6px;
    display: flex;
    gap: 1.2rem;
    color: #DAD8F7;
}
.statistics-box p:first-child {
    font-size: 1.4rem;
    font-weight: 400;
}
.statistics-box p:last-child {
    font-size: 1.8rem;
    color:#E7E6FB;
}

.air-quality {
    grid-area: air-quality;
}

.sun-time {
    grid-area: sun-time;
}

.week-weather {
    grid-area: week-weather;
}