* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%; /* 1rem == 10px */
}

body {
    font-size: 1.6rem;
    font-family: 'Inter', sans-serif;
    background-color: #F8FAFC;
    display: grid;
    place-content: center;
    height: 100vh;
}

main {
    
    border-radius: 1.6rem;
    box-shadow: 0px 4px 32px rgba(15, 23, 42, 0.15);
    background-color: white;
    padding: 6.4rem 8.0rem;
}

section h2 {
    font-size: 2.0rem;
    color: #0F172A;
    margin-bottom: 2.0rem;
}

.content {
    display: flex;
    gap: 1.6rem;
}

.conversor {
    margin-bottom: 6.4rem;
}

.currency {
    position: relative;
    width: 29.2rem;
    height: 5.6rem;
    outline: 0.1rem solid #94A3B8;
    border-radius: 0.8rem;
    display: flex;
    align-items: center;
    padding-left: 1.6rem;
}

.currency:hover {
    outline: 0.20rem solid #7C3AED;
}

.currency .currency-selector {
    position: absolute;
    top: 0;
    right: 0;
    text-transform: uppercase;
}

.default-selector {
    width: 13rem;
    height: 5.6rem;
    border-radius: 0 0.8rem 0.8rem 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
}

.default-selector:hover {
    background-color: #EDE9FE;
}

.default-selector::before {
    content: '';
    position: absolute;
    left: 0;
    width: 0.1rem;
    height: 2.4rem;
    background: url(./assets/divider.svg) no-repeat;
}

.default-selector::after {
    content: '';
    display: block;
    width: 2.4rem;
    height: 2.4rem;
    background: url(./assets/down-line.svg) no-repeat;
}
ul {
    list-style: none;
    margin-top: 1rem;
    background-color: white;
    box-shadow: 0px 4px 16px rgba(15, 23, 42, 0.15);
    border-radius: 0.8rem;
    max-height: 17rem;
    overflow-y: scroll;
    position: relative;
    z-index: 1;
}

li {
    padding: 1.2rem 1.6rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

li:hover {
    background-color: #EDE9FE;
}

.fi.fis {
    font-size: 2.4rem;
    border-radius: 50%;
}

#menu {
    display: none;
}

.currency-selector:hover #menu {
    display: block;
}

.tooltip {
    background-color: white;
    box-shadow: 0 .4rem 1.6rem rgb(15 23 42 / .15);
    border-radius: .4rem;
    padding: .8rem;
}

.chart-controls {
    display: flex;
    justify-content: space-between;
    margin: -2.2rem .8rem 0 4rem;
}
  
.chart-controls button {
    background-color: transparent;
    border: 0;
  
    width: 4rem;
    height: 2.4rem;
  
    font-size: 1.2rem;
    line-height: 1.6rem;
    text-align: center;
  
    cursor: pointer;
}
  
.chart-controls button:hover,
.chart-controls button.active {
    background-color: #7c3aed;
    color: white;
    border-radius: 999px;
    padding: .4rem .8rem;
}