* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%; /* 1rem == 10px */
}

body {
    font-size: 1.6rem;
    font-family: 'Inter', sans-serif;
    background-color: #F8FAFC;
    display: grid;
    place-content: center;
    height: 100vh;
}

main {
    width: 80rem;
    height: 69.2rem;
    border-radius: 1.6rem;
    box-shadow: 0px 4px 32px rgba(15, 23, 42, 0.15);
    background-color: white;
    padding: 6.4rem 8.0rem;
}

section h2 {
    font-size: 2.0rem;
    color: #0F172A;
    margin-bottom: 2.0rem;
}

.content {
    display: flex;
    gap: 1.6rem;
}

.currency {
    position: relative;
    width: 29.2rem;
    height: 5.6rem;
    outline: 0.1rem solid #94A3B8;
    border-radius: 0.8rem;
}

.currency:hover {
    outline: 0.20rem solid #7C3AED;
}

.currency .currency-selector {
    position: absolute;
    top: 0;
    right: 0;
}

.default-selector {
    width: 13rem;
    height: 5.6rem;
    background-color: #EDE9FE;
}