* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 65.5%; /* 1rem === 10px */
}

body {
    background: linear-gradient(170deg, #8257E5 0%, #271A45 100%);
    height: 100vh;
    font-family: 'Rubik', sans-serif;
}

#container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#card {
    width: 32.7rem;
}

.title {
    font-size: 1.4rem;
    opacity: 0.64;
}

.info {
    font-size: 1.6rem;
    font-weight: 500;
}

.info-medium {
    font-size: 1.6rem;
    font-weight: 400;
    opacity: 0.8;
}

.airport {
    font-size: 4rem;
    font-weight: 500;
    opacity: 0.88;
}

.flight, .passenger, .boarding {
    padding: 2.4rem;
    background-color: white;
    border-radius: 2.4rem;
}

/* Informações do voo*/

.flight-and-date, .trip {
    display: flex;
    justify-content: space-between;
}

.flight-date, .arrival {
    text-align: end;
}

.trip {
    margin-top: 2.4rem;
    position: relative;
}

.airplane {
    position: absolute;
    align-self: center;
    left: 50%;
    transform: translateX(-50%)
}

/* Informações dos passageiro */

.passenger {
    display: flex;
    justify-content: space-between;
    border-top: 1px dashed grey;
    border-bottom: 1px dashed grey;
}

.seat {
    text-align: end;
}

/* Informações de embarque */

.boarding {
    display: flex;
    flex-direction: column;
}

.boarding-info {
    display: flex;
    justify-content: space-between;
}

.column-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.column-info p .title {
    display: block;
    margin-bottom: 0.4rem;
}

.boarding-time {
    background-color: #633BBC;
    color: white;
    border-radius: 0.8rem;
    padding: 0.4rem;
    
}

.qrcode-area, .info-medium {
    text-align: center;
}

.info-medium {
    margin-top: 2.4rem;
}