* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

h2, button {
    font-family: 'Inter', sans-serif;
}

h2 {
    margin-bottom: 10px;
}

p, div {
    font-family: 'Roboto', sans-serif;
}

img {
    width: 11.59;
    height: 18.22;
}

.container {
    display: flex;
}

.main {
    width: 80%;
    background-color:  #1E1E1E;
    padding: 50px;
}

.test-buttons {
    width: 20%;
    background-color: #130F1E;
    padding: 50px 25px;
}

.description {
    margin-bottom: 40px;
}


/* Tabela de botões*/
.grid-buttons {
    width: 100%;
    height: 550px;
    border: 5px solid #1C162C;
    border-radius: 10px;
    background-color: #1C162C;
    display: grid;
    grid-template-columns: 1fr repeat(3, 2.5fr) 1fr;
    grid-template-rows: 10% repeat(6, auto);
}

.grid-buttons .box {
    font-size: 13px;
    background-color: #1C162C;
    display: grid;
    place-content: center;
    
}

.grid-buttons .box-dark {
    background-color: #0B0911;
}

/* Botões */
.button {
    padding: 12px 24px;
    border: none;
    border-radius: 24px;
    font-size: 14px;
    background-color: transparent;
}

/* Defaut */
.default-primary {
    background-color: #8257E5;
}

.default-secondary {
    background-color: #3C3748;
}

/* Hover */

.hover-primary {
    background-color: #9674E5;
}

.hover-secondary {
    background-color: #6A617F;
}

/* Focus */

.focus-primary {
    background-color: #8257E5;
    border: 2px solid #D9CDF7;
}

.focus-secondary {
    background-color: #3C3748;
    border: 2px solid #D9CDF7;
}

.focus-tertiary {
    border: 2px solid #D9CDF7;
}

/* Desabled */
.desabled {
    cursor: not-allowed;
}

.desabled-primary {
    background-color: #8257E5;
    opacity: 0.56;
}

.desabled-secondary {
    background-color: #3C3748;
    opacity: 0.56;
}

.desabled-tertiary {
    opacity: 0.56;
}

/* Loading */
.loading {
    display: flex;
    align-items: center;
}

.loading:hover {
    cursor: progress;
}

.loading img {
    animation: spin 700ms infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.loading-primary {
    background-color: #8257E5;
}

.loading-secondary {
    background-color: #3C3748;
}

/* Movable */
.movable {
    cursor: move;
}

.button img {
    margin-right: 7px;
}

.movable-primary {
    background-color: #8257E5;
}

.movable-secondary {
    background-color: #3C3748;
}

/* Lista de botões para teste */

.list-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 180px;
}

.list-buttons .default-primary {
    border: 2px solid transparent;
}

.list-buttons .default-primary:hover {
    cursor: pointer;
    background-color: #9674E5;
}

.list-buttons .default-primary:focus {
    background-color: #8257E5;
    border: 2px solid #D9CDF7;
}