* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%; /* 1rem == 10px */
    font-family: 'Titillium Web', sans-serif;
}

body {
    font-size: 1.6rem;
    background-color: #F8FAFC;
}

main {
    display: flex;
}

.login {
    width: 50%;
    padding: 4rem 11.2rem;
}

.logo {
    margin-bottom: 11.4rem;
}

.content-wrapper {
    max-width: 38.4rem;
}
.content-wrapper h1 {
    margin-bottom: 1.6rem;
    color: #1E293B;
    font-size: 3.6rem;
}
.content-wrapper p {
    margin-bottom: 4rem;
    color: #475569;
}
.content-wrapper input {
    display: block;
    width: 100%;
    padding: 1.2rem 1.6rem;
    border: 1px solid #E2E8F0;
    border-radius: .4rem;
}

.background-right {
    height: 100vh;
    width: 50%;
}